{% extends 'DefaultTestBundle::layout.html.twig' %}

{% block init_validation %}
    {% javascripts
    '@FpJsFormValidatorBundle/Resources/public/js/FpJsFormValidator.js'
    '@FpJsFormValidatorBundle/Resources/public/js/constraints/*'
    '@FpJsFormValidatorBundle/Resources/public/js/transformers/*'
    '@FpJsFormValidatorBundle/Resources/public/js/jquery.fpjsformvalidator.js'
    output="js/fp_js_validator.js" combine=true %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ js_validator_config() }}
    {{ update_js_lib() }}
{% endblock init_validation %}

{% block body %}
    {{ form(form) }}
    {% if passForm is null %}
        <button id="init" onclick="asyncLoad();">Init</button>
        <script type="text/javascript">
            function asyncLoad() {
                {{ init_js_validation(null, onLoad, false) }}
            }
        </script>
    {% else %}
        {{ init_js_validation(passForm) }}
    {% endif %}


{% endblock %}