<div id="extra_msg">{{ extraMsg|default('') }}</div>
{{ init_js_validation() }}

{{ form_start(form, { 'attr': {'novalidate': 'novalidate' }}) }}
<input type="submit" name="form_submit" id="form_submit"/>
{{ form_row(form.name) }}
{{ form_end(form) }}
